@tailwind base;

@tailwind components;

@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500|Roboto:300,400,500,700');
// Vars
$uconn-blue: #000e2f;
$uconn-black: #000;
$uconn-white: #fff;
$uconn-offwhite: #eee;
$uconn-grey: #6d787f;
$uconn-red: #b61311;
// Basic Global/Meta
html,
body {
    background-color: #eee;
}

body {
    margin: 0;
}

// Utility
.margin-0 {
    margin: 0;
}

.margin-bottom-1em-only {
    margin: 0 0 1em 0;
}

.margin-bottom-1-8em-only {
    margin: 0 0 1.8em 0;
}

.padding-0 {
    padding: 0;
}

.padding-left-20 {
    padding-left: 20px;
}

// Typography Basic Definitions
// * {
//     font-family: "Roboto", sans-serif;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Frank Ruhl Libre", serif;
}

.sans-serif {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 1.17em;
}

// Font Size Helpers
$font-size-max: 70;
@mixin font-size-list {
    @for $i from 1 through $font-size-max {
        .font-size-#{$i} {
            font-size: #{$i}px;
        }
    }
}

@include font-size-list;
// Font Weight Helpers
$font-weight-values: 100 200 300 400 500 600 700 800 900 bold;
@mixin font-weight-list {
    @each $weight in $font-weight-values {
        .font-weight-#{$weight} {
            font-weight: #{$weight};
        }
    }
}

@include font-weight-list;
// Text Color Helpers
.color-uconn-blue {
    color: $uconn-blue;
}

.color-uconn-black {
    color: $uconn-black;
}

.color-uconn-white {
    color: $uconn-white;
}

.color-uconn-offwhite {
    color: $uconn-offwhite;
}

.color-uconn-white {
    h2,
    h3 {
        @extend .color-uconn-white;
    }
}

// Typography Helpers
.uppercase {
    text-transform: uppercase;
}

.text-centered {
    text-align: center;
}

// Lists
.no-bullets {
    @extend .padding-0;
    list-style-type: none;
}

.bullets-align-left {
    @extend .padding-left-20;
}

// Buttons
.uconn-button a.fl-button,
.uconn-button button.fl-button {
    @extend .font-weight-500;
    border-radius: 0;
    font-family: "Roboto", sans-serif;
    padding: 16px 20px;
}

// Links
.links-underlined {
    a {
        text-decoration: underline;
    }
}

// Rich Text
// Intended for text that is entered ONLY in a Text Editor field.
.fl-module-rich-text,
.fl-accordion-content {
    * {
        line-height: 1.5;
    }
    .no-bullets {
        @extend .margin-bottom-1em-only;
    }
    p,
    ul,
    ol {
        @extend .font-size-18;
    }
    h2,
    h3 {
        @extend .color-uconn-blue;
        @extend .font-weight-300;
        font-size: 50px;
        margin-bottom: 0.4em;
        margin-top: 0;
    }
    *+h2,
    *+h3 {
        margin-top: 1.1em;
    }
}

// Accordions
.fl-accordion-button {
    background-color: $uconn-grey;
}

.uconn-accordion-grey {
    .fl-accordion-item {
        border-width: 0;
    }
    .fl-accordion-button {
        @extend .color-uconn-white;
        @extend .uppercase;
        @extend .font-weight-500;
        @extend .font-size-16;
        padding: 20px 25px;
        background-color: $uconn-grey;
        .fl-accordion-button-icon {
            opacity: 1;
        }
    }
    .fl-accordion-content {
        padding: 3% 10%;
        h3 {
            @extend .margin-0;
            @extend .font-size-25;
            @extend .font-weight-bold;
        }
        p,
        ul,
        ol {
            @extend .margin-bottom-1em-only;
        }
    }
}

// Footer
.footer-text {
    @extend .font-size-14;
    p,
    .fl-rich-text p {
        @extend .font-size-14;
    }
}